streamlit==1.42.0
streamlit-gsheets==0.0.10
streamlit-js-eval==0.1.7
easyocr==1.7.2
numpy==1.26.4
pillow==10.4.0
pandas==2.2.2
requests==2.32.3
opencv-python-headless==4.10.0.84
torch==2.2.2
torchvision==0.17.2